{%load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Login</title>
    {%include 'parciais/_head.html'%}
</head>

<body>


    <main>

        <div class="logo-login">
            <a href="{% url 'listar_arte'%}"><img src="{% static 'img/Logo.png' %}" alt="Logo"></a>
        </div>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button-form" type="submit">Login</button>
        </form>

        <div class="regitro-login">
            <a href="{% url 'registrar'%}">
                <h4>Não tem uma conta? Registre-se agora!</h4>
            </a>
        </div>


    </main>



</body>



</html>