body {
    background: #cccccc;
}
main {
    background-color: white;
    width: 80%;    
}

.main-busca {
    width: 90%;
    margin: auto;
}

.main-busca section {
    margin-left: 64px;
}

.p-tooltip {
    padding: 32px 0px 16px 64px;
    font-style: italic;
}

.filtros input {
    width: 128px;
    margin-right: 12px;
}

.button-form-filtros {
    width: 128px;
    border: 1px solid #f5a733;
    padding: 4px 24px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    background-color: #f5a733;
    font-weight: 700;
    transition: 0.1s;
    color: black;
}

.button-form-filtros:hover {
	box-shadow: 1px 0px 8px #c578e9;
    border: 1px solid #c578e9;
    transition: 0.1s;
    background-color: #c578e9;
    color: white;
    cursor: pointer;
}

.button-form-filtros:active {
    outline: 0;
}

.section-lista {
    width: 90%;
    margin: auto;
    padding-bottom: 128px;
    margin-bottom: 128px;
}

.section-lista ul {
    list-style-type: none;
    display: inline-block;
}

.section-lista li {
    margin-right: 20px;
    margin-top: 20px;
}

.section-lista h2 {
    margin-top: 32px;
}

.busca-form {
    float: none;
}